{% extends 'book/base.html' %}
{% load static %}
{% block title %}Home Page Title {% endblock %}
{% block content %}


<div class="container">
<h1 class="text-center bg-success"> Detail Page</h1>
    <!-- card section -->
    <section class="card-section">

        <div class="row">
            <div class="col-8 offset-2 py-3 h-75">
                <div class="card card-cascade">
                    <!-- Card image -->
                    <div class="view view-cascade overlay">
                        <img class="card-img-top" src="{% if book.image %}
                        {{book.image.url}}
                        {% else %}
                       {% static 'img/kids4.jpeg' %}
                       {% endif %}" alt="Card image cap">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center">
                        <!-- Title -->
                        <h4 class="card-title"><strong>{{ book.title }}</strong></h4>
                        <!-- Subtitle -->
                        <h6 class="font-weight-bold indigo-text py-2">{{ book.authors }}</h6>
                        <!-- Text -->
                        <p class="card-text">{{ book.desc|truncatechars:20 }}</p>
                        <h6 class="font-weight-bold indigo-text py-2">{{ book.publisher }}</h6>
                        <small class="">{{ book.publication_date }}</small>


                        <!-- Card footer -->
                        <div class="card-footer text-muted text-center">
                            <a href="{% url 'home' %}" class=" btn bg-success">Back</a>
                            <a href="" class=" btn btn-primary">Update</a>
                            <a href="" class=" btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
      
        </div>
    </section>
</div>

{% endblock %}