{% extends 'base.html' %}
{% load static %}
{% block title %}
Home Page
{% endblock %}

{% block content %}
<h1 class="text-center bg-success">Home Page</h1>
<div class="row">
    
    {% for item in object_list %}
    <div class="col-4">
            <div class="card">
                <img src="{% if item.image %}
                   {{ item.image.url }} 
                {% else %}
                {% static 'img/kids1.jpeg' %}{% endif %}" class="card-img-top" alt="...">
            
                <div class="card-body">
                    <h5 class="card-title">{{item.title}}</h5>
                    <p class="card-text">{{item.description}}</p>
                       <div class="" >
                            {% if item.discount_price %}
                            <p style="display: inline-block"><strong>$<strike>{{item.discount_price}}</strike></strong></p>
                            <p style="display: inline-block; margin-left: 10px"><strong>${{item.price}}</strong></p>
                            {% else %}
                            <p><strong>${{item.price}}</strong></p>
                            {% endif %}
                       </div> 
                  
                    <a href="#" class="btn btn-primary">Quick View</a>
                    <a href="#" class="btn btn-warning">Add to Cart</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}